nav{background-color:rgb(216, 112, 48);
    overflow: hidden;
  }
  nav a{
    text-decoration:  underline;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
  }


nav a:hover{
  color: rgb(255, 217, 0);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: inline
  }
/* .home{
    text-align: right;
    margin-right: 20px;
    
    
}

 .icon{
    float: right;
} 

.text{
    border: 2px solid;
    text-align: center;
    margin-top: 60px;
}

.heading{
    text-align: center;
    text-decoration: underline;
}
.first{
    border: 3px solid;
    width: 100%;
}
.second{
    border: 3px solid;
    width: 80%;
    margin: 0px 10px 0px 100px;
}
.three{
    float:right;
    width: 50%;
    margin-right: 20px;
    border-radius: 100px;
    
    
} */